header {
    width: 375px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 22px;
    margin-bottom: 34px;
    flex-direction: column;
    height: auto;
    align-items: flex-start;
}

.trouver {
    width: 335px;
    margin-left: 20px;
    margin-right: 20px;
}

.s1 {
    width: 375px;
    flex-wrap: wrap-reverse;
    margin: 0;
    margin-top: 37px;
}

.s2 {
    width: 335px;
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    width: 315px;
    flex-direction: column;
    padding: 30px;
    margin-top: 25px;
    padding-bottom: 0;
}

.navigation {
    display: flex;
}

.hbleu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: #F2F2F2 3px solid;
    padding: 0;
    padding-bottom: 12px;
}

nav {
    width: 100%;
}

.inscrire {
    position: absolute;
    top: 40px;
    right: 20px;
    padding: 0;
}

.inscrire:hover {
    border-top: none;
}

.hbleu:hover {
    border-bottom: #0065FC 3px solid;
    border-top: none;
}

.logo {
    margin-left: 20px;
}

.descend {
    width: 50%;
}

.marge {
    width: 100%;
}

.premier {
    margin-top: 13px;
    margin-right: 11px;
    width: 177px;
}

.deuxième{
    margin-top: 13px;
    width: 140px;
    margin-right: 0;
}

.troisième {
    margin-top: 13px;
    width: 169px;
    margin-right: 0;
}

.quatrième {
    margin-top: 13px;
    width: 220px;
    margin-right: 0;
}

.finrechercher {
    display: none;
}

.finloupe {
    background-color: #0065FC;
    width: 51px;
    border-radius: 14px 14px 14px 14px; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barre {
    width: 337px;
}

.gauche {
    width: 100%;
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

.droite {
    width: 100%;
    padding: 20px;
    padding-top: 43px;
    padding-bottom: 26px;
}

.cliquabled {
    margin-bottom: 11px;
    width: 335px;
}

.cliquableg {
    margin-bottom: 11px;
    width: 335px;
}

.carteg {
    width: 335px;
}

.imgg {
    width: 325px;
}

.colonnes {
    flex-direction: column;
}

.colonne {
    width: 335px;
}

.géant {
    height: 190px;
}

.grand {
    height: 190px;
}

.petit {
    height: 190px;
}

.boiteb1 {
    height: 134px;

}

.boiteb2 {
    height: 134px;
}

.boiteb3 {
    height: 134px;
}

.descriptionb {
    height: 56px;
}

.cliquableb {
    margin-bottom: 24px;
}

.sfooter {
    width: 100%;
}