article, aside
{
    background-color: #F2F2F2;
    border-radius: 10px;
}

footer
{
    background-color: #F2F2F2;
}

body
{
    font-family: Raleway;
    font-weight: 400;
    margin : 3% 3% 3% 3%;
}

h1
{
    font-weight: 800;
}

.carte
{
    background-color: white;
    border-radius: 10px;
}

footer
{
    display : flex;
    justify-content: space-between;
}

.sfooter
{
    display: flex;
    flex-direction: column;
}