article
{
    background-color: #F2F2F2;
    border-radius: 10px;
}

aside
{
    background-color: #F2F2F2;
    border-radius: 10px;
}

body
{
    font-family: Raleway;
    font-weight: 400;
}

h1
{
    font-weight: 800;
}