body {
    font-family: Raleway;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
}

h1 {
    font-weight: 800;
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    height: 131px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.logo {
    width: 93px;
}

.s1 {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 37px;
}

.gauche {
    width: 880px;
    background-color: #F2F2F2;
    border-radius: 16px;
    padding: 47px 40px 50px 40px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.droite {
    width: 420px;
    background-color: #F2F2F2;
    border-radius: 16px;
    padding: 47px 40px 34px 37px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

.armoireg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 23px;
}

.armoired {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 23px;
    height: 100%;
    width: 100%;
}

.cliquableg {
    color: black;
    display: block;
    width: 246px;
    height: 199px;
    margin-bottom: 30px;
}

.cliquabled {
    color: black;
    display: block;
    width: 343px;
    height: 144px;
}

.carteg {
    background-color: white;
    border-radius: 20px;
    border: white 3px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 3px 3px 3px 3px #e3e3e3;
}

.carted {
    background-color: white;
    border-radius: 20px;
    border: white 5px;
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px 3px 3px #e3e3e3;
}

.boiteg {
    width: 100%;
    overflow: hidden;
    height: 119px;
}

.boited {
    width: 132px;
    overflow: hidden;
    height: 144px;
}

.imgg {
    width: 236px;
    height: 129px;
    border-radius: 20px;
    border: white 5px;
    object-fit: cover;
    margin-top: 5px;
    margin-left: 5px;
    box-sizing: content-box;
}

.imgd {
    width: 142px;
    height: 134px;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 5px;
    margin-left: 5px;
}

.descriptiong {
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 21px;
    height: 80px;
    box-sizing: border-box;
}

.descriptiond {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 211px;
    height: 144px;
    box-sizing: border-box;
    line-height: 21px;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 11px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    height: 48px;
    align-items: flex-end;
}

nav {
    width: 40%; 
}

.menu {
    padding-top: 71px;
    color: #0065FC;
    padding-left: 28px;
    padding-right: 28px;
}

.menu:hover {
    border-top: #0065FC 2px solid;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #0065FC;
}

.inscrire {
    font-weight: 800;
}

.trouver {
    margin-left: 50px;
    margin-right: 50px;
}

.nature {
    font-weight: 500;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 19px;
}

.barre {
    display: flex;
    justify-content: space-between;
    width: 420px;
    height: 51px;
    box-sizing: border-box;
}

.début {
    background-color: #F2F2F2;
    border-right: solid #F2F2F2 1px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:  14px 0 0 14px ;
}

form {
    width: 50%;
    padding-left: 5%;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.fin {
    background-color: #0065FC;
    width: 134px;
    border-radius: 0 14px 14px 0; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font-weight: 800;
    border: none;
    font-size: 110%;
}

.filtres {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 800;
    margin-top: 31px;
}

.marge {
    margin-right: 32px;
}

.premier {
    display: flex;
    align-items: flex-start;
    width: 194px;
    height: 50px;
    border: solid #F2F2F2 2px;
    border-radius: 30px;
    box-sizing: border-box;
    margin-right: 24px;
}

.premier:hover {
    display: flex;
    width: 194px;
    height: 50px;
    border: solid #F2F2F2 2px;
    border-radius: 30px;
    color: white;
    background-color: #0065FC;
    box-sizing: border-box;
    margin-right: 24px;
}

.deuxième {
    display: flex;
    width: 152px;
    height: 50px;
    border: solid #F2F2F2 2px;
    border-radius: 30px;
    box-sizing: border-box;
    margin-right: 24px;
}

.deuxième:hover {
    display: flex;
    width: 152px;
    height: 50px;
    border: solid #F2F2F2 2px;
    border-radius: 30px;
    color: white;
    background-color: #0065FC;
    box-sizing: border-box;
    margin-right: 24px;
}

.troisième {
    display: flex;
    width: 184px;
    height: 50px;
    border: solid #F2F2F2 2px;
    border-radius: 30px;
    box-sizing: border-box;
    margin-right: 24px;
}

.troisième:hover {
    display: flex;
    width: 184px;
    height: 50px;
    border: solid #F2F2F2 2px;
    border-radius: 30px;
    color: white;
    background-color: #0065FC;
    box-sizing: border-box;
    margin-right: 24px;
}

.quatrième {
    display: flex;
    width: 242px;
    height: 50px;
    border: solid #F2F2F2 2px;
    border-radius: 30px;
    box-sizing: border-box;
    margin-right: 24px;
}

.quatrième:hover {
    display: flex;
    width: 242px;
    height: 50px;
    border: solid #F2F2F2 2px;
    border-radius: 30px;
    color: white;
    background-color: #0065FC;
    box-sizing: border-box;
    margin-right: 24px;
}

.billet {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 50%;
    color: #0065FC;
    height: 50px;
    width: 50px;
    margin-left: -2px;
    margin-top: -2px;
}

.enfant {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 50%;
    color: #0065FC;
    height: 50px;
    width: 50px;
    margin-left: -2px;
    margin-top: -2px;
}

.cœur {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 50%;
    color: #0065FC;
    height: 50px;
    width: 50px;
    margin-left: -2px;
    margin-top: -2px;
}

.chien {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 50%;
    color: #0065FC;
    height: 50px;
    width: 50px;
    margin-left: -2px;
    margin-top: -2px;
}

.économique {
    padding-left: 13px;
    height: 100%;
    display: flex;
    align-items: center;
}

.familial {
    padding-left: 13px;
    height: 100%;
    display: flex;
    align-items: center;
}

.romantique {
    padding-left: 13px;
    height: 100%;
    display: flex;
    align-items: center;
}

.animaux {
    padding-left: 13px;
    height: 100%;
    display: flex;
    align-items: center;
}

.plusde {
    display: flex;
    align-items: center;
    margin-top: 31px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: #F2F2F2 solid 1px;
    color: #0065FC;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    margin-right: 12px;
}

.bleu {
    color: #0065FC;
}

.gris {
    color: #F2F2F2;
}

.enbas {
    align-self: flex-end;
}

.populaires {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grossi {
    font-size: 200%;
}

.afficher {
    padding-top: 13px;
    font-weight: 800;
}

.s2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 65px;
}

.colonnes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 26px;

}

.colonne {
    width: 302px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cliquableb {
    color: black;
    display: block;
    width: 100%;
}

.carteb {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px #e3e3e3;
    width: 100%;
    overflow: hidden;
}

.géant {
    height: 445px;
}

.grand {
    height: 235px;
}

.petit {
    height: 165px;
}

.descriptionb {
    padding-left: 19px;
    height: 55px;
    display: flex;
    align-items: center;
}

.boiteb1 {
    width: 100%;
    height: 390px;
    overflow: hidden;
}

.boiteb2 {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.boiteb3 {
    width: 100%;
    height: 110px;
    overflow: hidden;
}

.lifooter {
    margin-bottom: 18px;
}

.afooter {
    color: black;
}

footer {
    display : flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 52px;
    margin-top: 60px;
}

.sfooter {
    display: flex;
    flex-direction: column;
    width: 33%;
}

ul {
    padding: 0;
}

.imgactivités1 {
    width: 100%;
    height: 390px;
    object-fit: cover;
}

.imgactivités2 {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.imgactivités3 {
    width: 100%;
    height: 120px;
    object-fit: cover;
}