.s1 {
    flex-wrap: wrap-reverse;
}

.gauche {
    width: 100%;
    margin-top: 30px;
}

.droite {
    width: 100%;
}

.cliquabled {
    margin-bottom: 20px;
    width: 100%;
}

.boited {
    width: 40%;
}

.imgd {
    width: 105%;
}

.descriptiond {
    width: 60%;
    padding-left: 100px;
    justify-content: space-between;
}

.colonne {
    width: 200px;
}

.premier {
    margin-right: 11px;
}

.deuxième{
    margin-right: 11px;
}

.troisième {
    margin-right: 11px;
}

.quatrième {
    margin-right: 11px;
}